#!/usr/bin/env bash

export GVM_ROOT="{{ go_location }}"
export gvm_go_name="{{ go_version }}"
export gvm_pkgset_name="global"
export GOROOT="{{ go_location }}/gos/go{{ go_version }}"
export GOPATH="{{ go_location }}/bin/go"
export PATH="${PATH}:{{ go_location }}/bin"
