#!/usr/bin/env bash

export GVM_ROOT; GVM_ROOT="{{ go_location }}"
export gvm_go_name; gvm_go_name="default"
export gvm_pkgset_name; gvm_pkgset_name="global"
export GOROOT; GOROOT="{{ go_location }}"
export GOPATH; GOPATH="{{ go_location }}/pkgsets/system/global"